<h2>Template <small>Dinámicos</small></h2>

<hr>

<form (ngSubmit)="guardar()" autocomplete="off" #miFormulario="ngForm">

  <div class="mb-3 row">

    <label class="col-sm-3 col-form-label">Nombre</label>

    <div class="col-sm-9">

      <input class="form-control" placeholder="Nombre de la Persona" required
      [ngModel]="persona.nombre" name="Nombre">

      <span class="form-text text-danger"
      *ngIf="miFormulario.controls['Nombre']?.errors">
      Este campo es obligatorio
      </span>

    </div>

  </div>


  <div class="mb-3 row">

    <label class="col-sm-3 col-form-label">Agregar</label>

    <div class="col-sm-9">

      <div class="input-group">

        <input class="form-control" placeholder="Agregar favorito" [(ngModel)]="nuevoJuego"
        (keyup.enter)="agregarJuego()" name="nuevoJuego">

        <button type="button" class="btn btn-outline-primary" (click)="agregarJuego()">
        Agregar
        </button>

      </div>

    </div>

  </div>


  <div class="mb-3 row">

    <label class="col-sm-3 col-form-label">Favoritos</label>

    <div class="col-sm-9">

      <div class="input-group mb-1" *ngFor="let juego of persona.favoritos; let i = index">

        <input [(ngModel)]="juego.nombre" name="favorito_{{ i }}" required class="form-control">

        <button type="button" class="btn btn-outline-danger" (click)="eliminar(i)">Eliminar</button>

      </div>
    </div>
  </div>




  <div class="mb-3 row">

    <div class="col-sm-12">

      <button type="button" class="btn btn-primary float-end" (click)="guardar()"
      [disabled]="miFormulario.invalid">Guardar</button>

    </div>

  </div>

</form>
